*{
    box-sizing: border-box;
    background-color: lightblue;
    
}
body{
    box-sizing: border-box;
    display: flex;
    display: grid;
    place-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    background: rgb(167, 167, 238);
    border-radius: 30px;
    padding: 10px;
}
button{
    border-radius: 40px;
    background-color: whitesmoke;
}
input{
    border-radius: 40px;
    background-color: whitesmoke;
}
